.same-line {
	list-style-type: none;
	display: inline-block;
}

.same-line img
{
	float:left;
}

.same-line p {
	text-align: right; 
	display:inline-block;
}

.white {
	color: #FFFFFF;
}

.fb-btn {
    padding-top: 200px;
    text-align: center;
}
.reivew {
	padding-bottom: 40px;
}