%header.navbar
	%nav.navbar-inner
		.container-fluid
			- if current_user.nil?
				= link_to "Facebook Friend's Reviews", root_path, class: "brand"
			-else
				= link_to "Facebook Friend's Reviews", home_index_path, class: "brand"
			.navbar-search.pull-right
				- unless current_user.nil?
					Signed in as 
					%strong= current_user.name
					= link_to "Sign out", destroy_user_session_path, method: 'DELETE'